@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bitcount+Ink:wght@100..900&family=Comfortaa:wght@300..700&family=Megrim&display=swap');

.bitcount-font {
  font-family: "Bitcount Ink", sans-serif;
}
.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 600;
  font-style: normal;
}
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fffaf5;
  color: #131210;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
